
<div class="center">

<h1 style="color:#485460; font-size:200%">Qui suis-je?</h1><br><br>
<p>Moi c'est Alexandro versus Kalejo<br>
En formation avec<b>THP</b>.
Je souhaite devenir un bon développeur, car cela me passionne.</p>
Clic sur:
<a href="<%= kalejo_path %>">Kalejo</a><br>
Clic sur:
<a href="<%= thp_lille_path %>">Thp_lille</a>
</div>