<div class="center">

<h1 style="color:#485460; font-size:150%">Contact</h1>
<p> Nous contacter:
	<ul>
		<li> par emails <b>thplille@gmail.com</b></li>
		<li> par Slack <b>@kalejo</b></li>
	</ul>




		</p>

</div>