<br><br><br>

<div class="center">
<h1 style="color:#485460; font-size:250% "><em>Bienvenue à toi !!</em></h1>

<br><br><br>
<p>Te voici sur ma première page en <b>ruby and rails.</b><br>
Pour devenir membre du groupe, c'est par
<a href="<%= user_path %>">ici</a>
</p>
</div>