<head><link rel="stylesheet" href="style.css"></head>

<div class="center">
<h1 style="color:#485460">Création d'un nouveau membre.</h1>
<br>


<h3>Bienvenue à toi !<br>
Bravo pour ta participation écris tes infos pour nous suivre.
</h3>




<form action="<%= user_path %>". method="post">
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<br>
 <b>Username<br>
	<input type="text" name="username"><br><br>

 	<div class="form-group">
 	 <label for="bio">Description</label><br>
 	 <textarea style="width: 14% class="form-control size" rows="2" id="bio" name="bio"></textarea><br>
 	 <input type="submit" value="Valider"></b>
</div></div>


</form>